:root {
    --blue: #26CDF0;
    --darkblue: #05349b;
    --yellow: #FFDA1D;
    --purple: #9100E6;
    --darkgrey: #202020;
    --very-large-header: 3.125rem;
    --large-header: 2.3125rem; 
    --medium-header: 1.75rem; 
    --large-text: 1.3125rem; 
    --medium-text: 1rem; 
    --small-text: 0.75rem;  
  }


@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Share Tech";
  src: url("../fonts/ShareTech-Regular.ttf") format("truetype");
}

