@import 'custom.css';

body {
    font-family:/*  'Roboto Condensed' */ Arial, sans-serif;
    margin: 0;
}

header {
    text-transform: uppercase;
    color: black;
    background-color: var(--blue);
    width: 100%;
    min-height: 100px;
    position: relative;
    border-bottom: solid 10px var(--yellow);
}

#logo {
    float: left;
    margin-right: -20px;
}

#title {
    font-family: 'Share Tech', sans-serif;
    font-size: var(--medium-header);
    display: inline;
    margin: 0 10px 10px 0;
    line-height: 1.2em;
}

#sub-title {
    display: inline-block;
    font-size: var(--medium-text);
}

#title, #sub-title {
    position: relative;
    top: 10px;
}

header a {
    text-decoration: none;
    color: black;
}

/* --------------------------navbar arrangement and styling------------------- */

nav {
    position: fixed;
    bottom: 0;
    background-color: var(--blue);
    border-top: 2px solid var(--yellow);
    width: 100%;
    padding: 8px 0;
}


.permanent {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.narrow {
    width: 15%;
}

.expand {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: var(--medium-text);
}

#home {
    height: 18px;
    width: 18px;
    position: relative;
    top: 3px;
}

.expandable {
    position: absolute;
    left: 50%;
    width: 40%;
    background-color: var(--blue);
    padding: 8px;
    border: 1px solid black;
    margin: 0;
}
#events {
    bottom: 45px;
}
#involved {
    bottom: 81px;
}
#contact {
    bottom: 117px;
}

#events.hidden, #involved.hidden, #contact.hidden {
    bottom: -150px;
}

.down {
    /* rotate: 180deg; */
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);  /*needed to do this otherwise didn't work on my iphone*/
}

/* ------------------------------main styling-------------------------------- */
main {
    color: white;
}

article {
    background-color: black;
    border-bottom: 10px solid var(--purple);
}

h2, h1 {
    text-transform: uppercase;
}

h1 {
    font-size: var(--large-text);
    border-bottom: 5px solid var(--purple);     /*chose this rather than underline */  
    padding-bottom: 4px;                        /*as I wanted a bigger gap between */
    display: inline-block;                      /*text and line */
}

h2 {
    font-size: var(--medium-text);
    text-align: center;
    margin-bottom: 4px;
}

a {
    color: var(--blue);
}

p {
    line-height: 1.5em;         /* as using condensed typography, this helps reduce density of text blocks */
    margin: 6px 0;
}

p span {
    color: var(--yellow);
}

.page-header {
    background-color: black;
    padding: 4px 16px; 
}

.last {
    margin-bottom: 30px;   /*to ensure no text is obscured by fixed nav bar in mobile view.*/
}

.featured {
    display: flex;
}

.left-column, .right-column {
    flex: 1;
}

.right-column {
    text-align: right;
    padding: 8px 16px 8px 0;
}

.left-column {
    padding: 8px 0 8px 16px;
}

.left-column.image, .right-column.image {
    padding: 0;
    max-width: 50vw;
}

article img {
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 250px;
} 

.info-text {
    padding: 8px 0;
}

.info-text p, .info-text form {
    padding: 0 16px;
}

.pic{
    text-align: center;
}
.pic img {
    max-width: none;
    max-height: none;
}

.selected  {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-weight: bold; 
}

.selected img {
    border-bottom: 2px solid black;
}

td:first-child {
    min-width: 160px;
}

td:nth-child(2) {
    text-align: right;
}

td {
    border-bottom: 1px solid var(--blue);
}

table {
    border-collapse: collapse;
    margin-left: 16px;
}
.standard-table {
    margin: auto;
}