@import 'custom.css';


body {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    margin: 0;
}

header {
    text-transform: uppercase;
    color: black;
    background-color: var(--blue);
    width: 100%;
    min-height: 100px;
    position: relative;
}

#logo {
    float: left;
    margin-right: -20px;
}

#title {
    font-family: 'Share Tech', sans-serif;
    font-size: var(--medium-header);
    display: inline;
    margin: 0 10px 10px 0;
    line-height: 1.2em;
}

#sub-title {
    display: inline-block;
    font-size: var(--medium-text);
}

#title, #sub-title {
    position: relative;
    top: 10px;
}

header a {
    text-decoration: none;
    color: black;
}

nav {
    position: fixed;
    bottom: 0;
    background-color: var(--blue);
    border-top: 2px solid var(--yellow);
    width: 100%;
    padding: 8px 0;
}


.permanent {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.narrow {
    width: 15%;
}

.expand {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-size: var(--medium-text);
}

#home {
    height: 18px;
    width: 18px;
    position: relative;
    top: 3px;
}

.expandable {
    position: absolute;
    left: 50%;
    width: 50%;
    background-color: var(--blue);
    padding: 5px;
    border-top: 1px solid black;
    margin: 0;
}
#events {
    bottom: 42px;
}
#involved {
    bottom: 72px;
}
#contact {
    bottom: 102px;
}

#events.hidden, #involved.hidden, #contact.hidden {
    bottom: -150px;
}

.down {
    /* rotate: 180deg; */
    -webkit-transform: rotate(180deg);  /*needed to do this otherwise didn't work on my iphone*/
}


article {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-bottom: 10px solid var(--yellow);
}

h2, h1 {
    text-transform: uppercase;
    margin-top: 0%;
    font-size: var(--large-text);
}
a {
    color: var(--blue);
}

h1 {
    float: left;
    margin: 0 5px 0 0;
}

.welcome p:first-of-type {
    margin-top: 0.1125em;
}

p {
    line-height: 1.5em;
}

p span {
    color: var(--yellow);
}

.visit-home {
    display: flex;
}

.hours {
    flex: 1.2;
}

.address {
    flex: 0.8;
}


.address p {
    margin: 0;
}

.last {
    margin-bottom: 30px;   /*to ensure no text is obscured by nav bar in mobile view.*/
}


.featured {
    display: flex;
}

.left-column, .right-column {
    flex: 1;
}

.right-column {
    text-align: right;
}

article img {
    height: 100%;
    /* max-height: 200px; */
    max-width: 50vw;
}