/* .trial {
    background-image:url("../images/AstronautWeb.jpg");
    background-position-x: 150%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-clip: inherit;
    max-height: 200px;
} */

