#events-home p {
    margin: 4px 0;              /*slightly reduce spacing between paragraphs*/
}

#welcome p:first-of-type {
    margin-top: 0.15em;       /*to get the h1 in line with rest of paragraph*/
}

#experiment {
    width: 100%;
}

#kids {
    border: none;
}

#teachers {
    border-top: 10px solid var(--yellow);
}

#class-experiment {
    font-size: 0;           /* fix to remove whitespace that appeared below image.  */
}

article {
    border-bottom: 10px solid var(--yellow);
}

h1 {
    float: left;
    margin: 0 5px 0 0;
    border: none;
    padding-bottom: 0;
}

h2 {
    font-size: var(--large-text);
    text-align: inherit;
    margin-top: 4px;
}

h1, h2 {
    padding-left: 16px;
}

#exhibitions-home h2, #events-home h2, #involved-home h2 {
    padding: 0;
}

.address a, .address p {
    padding-left: 8px;
}

.hours {
    flex: 1.2; 
    padding-right: 16px;
}


.address {
    flex: 0.8;
    border-left: solid 1px white;
}

.address p {
    margin: 0;
}

td:first-child {
    min-width: 75px;
    width: 27vw;
}

