
/* Some minor adjustments for smaller tablets, mostly increases in font size  */

@media (min-width: 500px){
    article img {
        max-width: 400px;
        max-height: 350px;
    } 
    .featured div {
        flex: 0.8;
        padding: 5%;
    }
    .featured .image {
        flex: 1.2;
    }
    .left-column.image, .right-column.image {
        max-width: 70vw;
    }
    .right-column {
        text-align: left;
        padding-top: 5%;
    }
    .left-column {
        text-align: right;
        padding-top: 5%;
    }

    .info-text p, .page-header {
        padding: 0 10% 12px 10%;
    }
    body {
        font-size: var(--large-text);
    }
    #title {
        font-size: var(--large-header);
    }
    #sub-title, .expand, h2 {
        font-size: var(--large-text);
    }
    h1 {
        font-size: var(--medium-header);  
    }
    #welcome h1 {
        padding-left: 10%;
    }
    .home-header {
        padding-left: 10%;
    }
    .last {
        margin-bottom: 42px;
    }
    .address a, .address p {
        padding: 0 0 0 10%;
    }
    #home {
        width: 24px;
        height: 24px;
    }
    .standard-table {
        width: 55vw;
        max-width: 380px;
    }
    #visit-info-home {
        padding: 8px 10%;
    }
    #visit-home-header, #visit-info-home p:last-child {
        padding: 0;
    }
    .hours td:first-child{
        min-width: 100px;
    }
    .hours {
        padding: 0 8px;
        max-width: 55vw;
    }

    td:first-child{
        min-width: 200px;
    }
    td:nth-child(2){
        min-width: 130px;
    }
    td {
        padding: 3px 0;
    }
    
    #contact {
        bottom: 46px;
    }
    #involved {
        bottom: 85px;
    }
    #events {
        bottom: 124px;
    }

}   

@media (min-width: 768px){
    #sub-title {
        font-size: var(--medium-header);
    }
    #logo {
        margin: 5px 0 0 20px;
    }
    #logo img {
        width: 93px;
    }
    #sub-title {
        display: block;
    }

    nav {
        position: relative;
        border: 0;
        bottom: unset;
        background-color: unset; 
        text-align: justify;
        width: 90%;
        margin: 0 auto;  
        font-size: 0;
    }

    nav a {
        font-size: var(--large-text);
    }

    nav:after {
        content: '';
        display: inline-block;
        width: 100%;
        
    }
    
    .expandable {
        position: relative;
        display: inline-block;
        left: unset;
        width: unset;
        background-color: unset;
        padding: 0;
        border: 0;
        margin: 0;
    }
    .permanent {
        display: inline-block;
        width: unset;
    }
    #events {
        bottom: unset;
        width: 12%;
    }
    #involved {
        bottom: unset;
    }
    #contact {
        bottom: unset;
    }
    .expand {
        display: none;
    }
    #events.hidden, #involved.hidden, #contact.hidden {
        bottom: unset;
    }

}
