
/* Some minor adjustments for smaller tablets, mostly increases in font size  */

@media (min-width: 500px){
    article img {
        max-width: 420px;
        max-height: 380px;
    } 
    .featured div {
        flex: 0.8;
        padding: 5%;
    }
    .featured .image {
        flex: 1.2;
    }
    .left-column.image, .right-column.image {
        max-width: 70vw;
    }
    .right-column {
        text-align: left;
        padding-top: 5%;
    }
    .left-column {
        text-align: right;
        padding-top: 5%;
    }

    .info-text p, .page-header {
        padding: 0 10% 12px 10%;
    }
    body {
        font-size: var(--large-text);
    }
    #title {
        font-size: var(--large-header);
    }
    #sub-title, .expand, h2 {
        font-size: var(--large-text);
    }
    h1 {
        font-size: var(--medium-header);  
    }
    #welcome h1 {
        padding-left: 10%;
    }
    .home-header {
        padding-left: 10%;
    }
    .last {
        margin-bottom: 42px;
    }
    .address a, .address p {
        padding: 0 0 0 10%;
    }
    #home {
        width: 24px;
        height: 24px;
    }
    .standard-table {
        width: 55%;
        max-width: 380px;
    }
    #visit-info-home {
        padding: 8px 10%;
    }
    
    .hours {
        padding: 0 8px;
    }

    td {
        padding: 3px 0;
    }
    
    #contact {
        bottom: 46px;
    }
    #involved {
        bottom: 85px;
    }
    #events {
        bottom: 124px;
    }
    #contact-main h1 {
        margin-left: 0;
    }

}   



@media (min-width:768px) and (max-width: 1023px){
    .featured {
        flex-direction: column;                         /*undone at 1024px*/
    }
    .visit-home{
        display: unset;                                 /*undone at 1024px*/
    }
    #involved-home img {                               /*undone at 1024px*/
        display: none;
    }
    #teachers p, #welcome p, #involved-home .right-column { /*undone at 1024px*/
        padding: 0 5% 12px 5%;
    }
    #teachers h2, #welcome h1 {                         /*undone at 1024px*/
        padding-left: 5%;
    }
    #kids p, #researchers p {                           /*undone at 1024px*/
        padding-right: 5%;
    }
    .hours {                                            /*undone at 1024px*/
        width: 80%;
        margin-right: auto;
    }
    .address {                                           /*undone at 1024px*/
        border: none;
        text-align: center;
    }
    .address p {                                         /*undone at 1024px*/
        padding: 3px;
        display: inline-block;
    } 
}


@media (min-width: 768px){

    /*---------------move nav bar to top of page----------------*/
    #sub-title {
        font-size: var(--medium-header);
    }
    #logo {
        margin: 5px 0 0 20px;
        position: relative;
        z-index: 100;
    }
    #logo img {
        width: 93px;
    }
    #sub-title {
        display: block;
    }

    nav {
        position: relative;
        border: 0;
        bottom: unset;
        background-color: unset; 
        text-align: justify;
        width: 90%;
        margin: 0 auto;  
        font-size: 0;
    }

    nav a, #events.hidden, #involved.hidden, #contact.hidden {
        padding: 4px;
        border-radius: 4px;
        font-size: var(--large-text);
        transition: all 0s;
        height: unset;
    }
    
    nav a:hover {
        color: white;
        background-color: var(--purple);
    }
    
    nav:after {
        content: '';
        display: inline-block;
        width: 100%;   
    }
    
    .expandable {
        position: relative;
        display: inline-block;
        left: unset;
        width: unset;
        background-color: unset;
        padding: 0;
        border: 0;
    }

    .permanent {
        width: unset;
    }
    .expand {
        display: none;
    }
    #events.hidden, #involved.hidden, #contact.hidden, #events, #involved, #contact {
        bottom: unset;
    }
    .last {
        margin-bottom: 0;
    }

    /*--------------make adjustments and build grid layout-------------*/
    
    /*home page*/
    article img {
        max-width: unset;
        max-height: unset;
    }
    .page-header {
        padding-left: 5%;
    }
      
    #kids {
        border-bottom: 4px solid var(--yellow);
    }
    #teachers {
        border-top: unset;
    } 
    #visit-link{
        display: inline-block;
    }
    
    /* -------------grid layout---------------------- */

    main {
        background-color: white;
        display: grid;
        grid-gap: 5px;
    }

    /* -------------grid layout homepage------------- */
    #exhibitions-home {grid-area: exhibitions-home;}
    #events-home {grid-area: events-home;}
    #involved-home {grid-area: involved-home;}
    #welcome {grid-area: welcome;}
    #visit-info-home {grid-area: visit-info-home;}
    #kids {grid-area: kids;}
    #teachers {grid-area: teachers;}
    #researchers {grid-area: researchers;}
    #class-experiment {grid-area: experiment-image;}


    #home-main {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: 
        'exhibitions-home events-home'
        'welcome welcome' 
        'kids visit-info-home'
        'kids researchers'
        'experiment-image experiment-image'
        'teachers teachers'
        'involved-home involved-home';
    }

    /* -------------grid layout exhibitions------------- */
    #ecology .pic, #cosmology .pic {
        display: none;
    }
    #reef {
        display: unset;
        font-size: 0;       /*removes whitespace under image*/
    }
    #reef img {
        width: 100%;
    }
    #exhibitions-main .info-text, #events-main .info-text, #involved-main .info-text {
        padding-top: 0;
    }

    .page-header {grid-area: header;}
    #ecology {grid-area: ecology;}
    #cosmology {grid-area: cosmology;}
    #robotics {grid-area: robotics;}
    #evolution {grid-area: evolution;}
    #biology {grid-area: biology;}
    #events-link {grid-area: events-link;}
    #reef {grid-area: reef;}

    #exhibitions-main {
        grid-template-areas: 
        'header header'
        'ecology cosmology'
        'reef reef'
        'evolution biology'
        'robotics events-link';
    }

    /* -------------grid layout events------------- */
    #night-in-museum .pic {
        display: none;
    }
    
    #visiting-professor {grid-area: visiting-professor;}
    #night-in-museum {grid-area: night-in-museum;}
    #energetica {grid-area: energetica;}
    #get-involved {grid-area: get-involved;}

    #events-main { 
        grid-template-areas: 
        'header header'
        'visiting-professor energetica'
        'night-in-museum get-involved';
    }

    /* -------------grid layout get involved--------------*/

    #support {grid-area: support}
    #volunteer {grid-area: volunteer}
    #internships {grid-area: internships}

    #involved-main {
        grid-template-areas: 
        'header header'
        'support volunteer'
        'internships internships';
    }

    #internships p {grid-area: paragraph;}
    #internships .pic {grid-area: pic;}
    #internships h2 {grid-area: title;}
    #internships {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        display: grid;
        grid-template-areas: 
        'title title'
        'paragraph pic'
        ;
    }

    /* -------------grid layout visit--------------*/

    #general-information {grid-area: general-info;}
    #accessibility {grid-area: accessibility;}
    #refreshments {grid-area: refreshments;}
    #shop {grid-area: shop;}
    #location {grid-area: location;}
    #opening-hours {grid-area: opening-hours;}
    #rocket {grid-area: rocket;}

    #map {
        height: 400px;
    }
    #location .short-border, #opening-hours .short-border {
        display: none;
    }
    #general-information p, #accessibility p, #refreshments p, #shop p {
        padding-right: 5%;
    }
    #visit-main {
        /* background-color: var(--purple); */
        grid-row-gap: 0;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: 
        'header header'
        'general-info location'
        'accessibility location'
        'refreshments opening-hours'
        'shop opening-hours'
        'rocket rocket';
    }

    /* -------------grid layout contact--------------*/

    #intro-contact {grid-area: intro;}
    #telephone {grid-area: tel;}
    #email {grid-area: email;}
    #address {grid-area: address;}
    #form {grid-area: form;}
    
    #contact-main {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-row-gap: 0;
        grid-template-areas: 
        'header header'
        'intro form'
        'tel form'
        'email form'
        'address form';
    }
}


@media (min-width: 1024px){
    nav {
        width: 60%;
        margin-right: 5%;   
    }
    #logo img {  
        width: 130px;
    }
    #title {
        font-size: var(--very-large-header);
    }
    #sub-title {
        font-size:var(--large-header);   
    }
    .featured {
        flex-direction: row;
    }
    #involved-home img {
        display: unset;
    }
    #home-main {
        grid-template-areas: 
        'exhibitions-home events-home'
        'welcome kids' 
        'experiment-image experiment-image'
        'teachers visit-info-home'
        'involved-home researchers';
    }
    .featured {
        height: 100%;           /*ensures no gap under dinosaur at 1024px*/
    }
    #class-experiment {
        max-height: 600px;
        overflow: hidden;
    }
    #kids, #teachers, #researchers, #visit-info-home, #welcome {
        padding-top: 5%;
    }
    
    #box {
        width: 50%;
    }

    #intern {                    /*intern image was becoming too large past this point*/
        width: 80%;
        margin: auto;
    }
}

/* ------------------------------larger screens------------------------------------ */

@media (min-width: 1400px){
    nav {
        width: 50%;
        margin-right: 5%;
    }
    
    body {
        background-color: var(--blue);
    }
    .page-header h1 {
        font-size: var(--large-header);
    }
    
    /* ----------------------------home grid adjustments-----------------------------*/
    #home-main {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas: 
        'exhibitions-home events-home involved-home'
        'welcome welcome visit-info-home' 
        'kids experiment-image experiment-image'
        'teachers  teachers researchers'
        ;
    }

    #events-home .featured {
        flex-direction: row-reverse;
    }
    .left-column {
        text-align: left;
    }
    #astronaut {
        transform: scaleX(-1);              /*       https://css-tricks.com/snippets/css/flip-an-image/         */
    }
    #kids h2, #kids p {
        padding-left: 20%;
    }
    #class-experiment {
        max-height: 650px;
    }
    #teachers {
        padding-top: 2.5%;
    }
    #class-experiment {
        max-height: none;
        background-color: black;
    }
    #experiment {
        height: 100%;
        width: unset;
    }

    /* ----------------------------visit grid adjustments-----------------------------*/
    #visit-main { 
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas: 
        'header header header'
        'general-info location rocket'
        'accessibility location rocket'
        'refreshments opening-hours rocket'
        'shop opening-hours rocket';
    }
    #rocket {
        background-color: black;
        overflow: hidden;
    }

    #blue-rocket {
        height: 100%;
        width: unset;
        transform: scaleX(-1);
        margin-left: 10%;
    }
    /* ----------------------------events grid adjustments-----------------------------*/

    #events-main { 
        grid-template-areas: 
        'header header header'
        'visiting-professor energetica night-in-museum'
        'visiting-professor energetica get-involved';
    }
    
    #night-in-museum .pic {
        display: inherit;
    }
    #museum-at-night {
        height: unset;
    }
    #visiting-professor img, #museum-at-night, #energetica img {
        width: 80%;
    }

    /* ----------------------------exhibitions grid adjustments-----------------------------*/
    #exhibitions-main {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas: 
        'header header header'
        'biology cosmology evolution'
        'biology robotics evolution'
        'reef reef ecology'
        'reef reef events-link'
        ;
    }
    #cosmology .pic {
        display: unset;
    }
    #cosmology .pic img {
        height: unset;
    }
    #reef {
        overflow: hidden;
    }

    #reef img{
        width: unset;
        height: 100%;    
    }
    
    /* ----------------------------get involved grid adjustments-----------------------------*/
    #involved-main {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-areas: 
        'header header'
        'support internships'
        'volunteer internships'
        ;
    }
    
    #internships {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        display: grid;
        grid-template-rows: 41px auto auto;
        grid-template-areas: 
        'title title'
        'pic pic'
        'paragraph paragraph'
        ;
    }

    /* ----------------------------contact grid adjustments-----------------------------*/
    #contact-main .pic {
        display: unset;
        grid-area: pic;
        width: 100%;
        background-color: black;
    }



    #contact-main {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-row-gap: 0;
        grid-template-areas: 
        'header header header'
        'intro form pic'
        'tel form pic'
        'email form pic'
        'address form pic';
    }
}



@media (min-width: 1800px){
    #experiment {
        height: unset;
        max-height: 650px;
        width: 100%;
    }
    form {
        max-width: 450px;
    }



}